body{
    user-select: none;  
}

.none{
    display : none;
}

.error{
    color: red;
    font-style: italic;
}

.errorShadow{
    box-shadow: 0px 0px 9px 1px rgba(255,0,0,1);
}

.title{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

h1:hover{
    cursor: pointer;
}

h1:hover:not(.select){
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(27, 215, 221);
}


h1:active:not(.select){
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(135, 21, 201);
}

.bloc{
    width: 50%;
    margin: auto;
    padding: 15px;
}



.select{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(135, 21, 201);
}



.labelInputBloc{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
