body{
    user-select: none;
}
.container {
    border: 1px solid black;
}


.none{
    display : none !important;
}

.error{
    color: red;
    font-style: italic;
}

.errorShadow{
    box-shadow: 0px 0px 9px 1px rgba(255,0,0,1);
}

.title{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

h1:hover{
    cursor: pointer;
}

h1:hover:not(.select){
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(27, 215, 221);
}


h1:active:not(.select){
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(135, 21, 201);
}

.bloc{
    width: 50%;
    margin: auto;
    padding: 15px;
}



.select{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(135, 21, 201);
}



.labelInputBloc{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}


.popUp{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(58, 56, 56, 0.411);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.popUpBoite{
    background-color: white;
    width: 350px;
    /* height: 250px; */
    box-shadow: 0px 0px 9px 1px rgba(73, 67, 67, 0.808);
    padding: 20px;
    
}

.closePopUp{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: red;
}